.header {
  display: flex;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
}

.header-left {
  width: 260px;
  display: flex;
  align-items: center;
}

.hamburger-menu {
  border: none;
  margin-left: 18px;
  margin-right: 24px;
  padding-top: 4px;
  margin-top: -1px;
  background-color: white;
  border-radius: 20px;
}

.hamburger-menu-icon {
  width: 24px;
}

.hamburger-menu:hover {
  background-color: rgba(183, 183, 183, 0.705);
}

.youtube-logo {
  width: 90px;
}

.header-middle {
  flex: 1;
  align-items: center;
  max-width: 732px;
  display: flex;
}

.search-bar{
 flex: 1;
 height: 38px;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 border: solid;
 border-color: rgb(204, 204, 204) ;
 border-width: 1px;
 box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
 width: 0;
 max-width: 515px;
 padding-left: 16px;
 margin-left: 32px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  vertical-align: center;
}

.search-button{
  height: 38px;
  width: 65px;  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid;
  background-color: rgb(248, 248, 248);
  border-color: rgb(204, 204, 204);
  border-width: 1px;
}

.search-icon {
  width: 28px;
}

.voice-search-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 16px;
}

.voice-search-icon {
  width: 26px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-right: 23px;
  align-items: center;
  margin-left: 70px;
  flex-shrink: 0;
}

.upload {
  width: 24px;
}

.notifications {
  width: 24px;
  position: relative;
}

.notification-number {
  position: absolute;
  right: -5px;
  top: -3px;
  background-color: rgb(210, 0, 0);
  padding: 1px 5px 2px 5px;
  border-radius: 15px;
  font-family: Roboto, Arial;
  font-size: 11px;
  border-color: white;
  color: white;
  border-width: 1px;
  border-style: solid;
}

.my-channel {
  width: 30px;
  margin-right: 11px;
  
}

.my-channel-icon {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 656px) {
  .search-bar{
    display: none;
  }
  .search-button{
    background-color: white;
    border: none;
    margin: 0;
  }
  .voice-search-button{
    background-color: white;
    margin: 0;
    margin-right: 20px;
  }
  .header-right{
    margin-left: 0px;
  }
  .header-middle{
    justify-content: flex-end;
  }
}